name: Build Flutter APK

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - uses: subosito/flutter-action@v2
        with:
         flutter-version: '3.19.6'
        architecture: x64
 

      - name: Build APK
        working-directory: simple_live_app
        run: |
          flutter pub get
          flutter build apk --release

      - uses: actions/upload-artifact@v4
        with:
          name: dart_simple_live_apk
          path: simple_live_app/build/app/outputs/flutter-apk/app-release.apk
